<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarPostulantes</servlet-name>
        <servlet-class>atencion.servlet.ListarPostulantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPostulante</servlet-name>
        <servlet-class>atencion.servlet.GuardarPostulante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerPostulante</servlet-name>
        <servlet-class>atencion.servlet.ObtenerPostulante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPostulante</servlet-name>
        <servlet-class>atencion.servlet.EliminarPostulante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarEntrevista</servlet-name>
        <servlet-class>atencion.servlet.GuardarEntrevista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarPostulantes</servlet-name>
        <url-pattern>/listar-postulantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPostulante</servlet-name>
        <url-pattern>/guardar-postulante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerPostulante</servlet-name>
        <url-pattern>/obtener-postulante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPostulante</servlet-name>
        <url-pattern>/eliminar-postulante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarEntrevista</servlet-name>
        <url-pattern>/guardar-entrevista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            listar-postulantes
        </welcome-file>
    </welcome-file-list>
</web-app>
