<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarPostulantes</servlet-name>
        <servlet-class>atencion.servlet.ListarPostulantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPostulante</servlet-name>
        <servlet-class>atencion.servlet.GuardarPostulante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerPostulante</servlet-name>
        <servlet-class>atencion.servlet.ObtenerPostulante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPostulante</servlet-name>
        <servlet-class>atencion.servlet.EliminarPostulante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarEntrevista</servlet-name>
        <servlet-class>atencion.servlet.GuardarEntrevista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarExamenClinico</servlet-name>
        <servlet-class>atencion.servlet.GuardarExamenClinico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUsuario</servlet-name>
        <servlet-class>atencion.servlet.LoginUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUsuario</servlet-name>
        <servlet-class>atencion.servlet.LogoutUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPostulante</servlet-name>
        <servlet-class>atencion.servlet.ModificarPostulante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoPostulantesPorValidar</servlet-name>
        <servlet-class>atencion.servlet.ListadoPostulantesPorValidar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerPostulanteValidacion</servlet-name>
        <servlet-class>atencion.servlet.ObtenerPostulanteValidacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoDonantesPorValidar</servlet-name>
        <servlet-class>atencion.servlet.ListadoDonantesPorValidar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerDonanteValidacion</servlet-name>
        <servlet-class>atencion.servlet.ObtenerDonanteValidacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarPostulantes</servlet-name>
        <url-pattern>/listar-postulantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPostulante</servlet-name>
        <url-pattern>/guardar-postulante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerPostulante</servlet-name>
        <url-pattern>/obtener-postulante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPostulante</servlet-name>
        <url-pattern>/eliminar-postulante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarEntrevista</servlet-name>
        <url-pattern>/guardar-entrevista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarExamenClinico</servlet-name>
        <url-pattern>/guardar-examen-clinico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUsuario</servlet-name>
        <url-pattern>/login-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUsuario</servlet-name>
        <url-pattern>/logout-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPostulante</servlet-name>
        <url-pattern>/modificar-postulante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoPostulantesPorValidar</servlet-name>
        <url-pattern>/listado-postulantes-a-validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerPostulanteValidacion</servlet-name>
        <url-pattern>/obtener-postulante-para-validacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoDonantesPorValidar</servlet-name>
        <url-pattern>/listado-donantes-a-validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerDonanteValidacion</servlet-name>
        <url-pattern>/obtener-donante-para-validacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login-usuario
        </welcome-file>
    </welcome-file-list>
</web-app>
